{% extends 'core/base.html' %}
{% load static %}

{% block title %}Centro de Cuentas | CanchaYa{% endblock %}

{% block contenido %}
<div class="container py-5">
  <h1 class="fw-bold mb-4">Gestion de Cuentas</h1>

  <div class="row g-4">

    <div class="col-12 col-md-6">
      <div class="cc-card h-100 p-4">
        <h5 class="fw-bold mb-1">Administradores</h5>
        <a href="{% url 'crudAdministradores' %}" class="btn btn-primary">Ver</a>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="cc-card h-100 p-4">
        <h5 class="fw-bold mb-1">Usuarios</h5>
        <a href="{% url 'crudUsuarios' %}" class="btn btn-primary">Ver</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}

